<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color:#f1f1c1;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
th, td {
  padding: 15px;
  text-align: left;
}
table{
	color: blue;
}

button{
background-color:lightgreen; /*  */
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  color:red;
}
a{
	text-decoration: none;
	color: red;
}
</style>



</head>
<body style="text-align: center;">
	{% extends "app/base.html" %}
{% block title %}List{% endblock %}
{% block body %}
<h1 style="color:maroon">List of Persons</h1>
<table>
  <tr>{% for person in object_list %}</tr>
  <th>{{ person.first_name }} {{ person.last_name }}</th>
   <th><button ><a href="{% url 'update' person.id %}">Upadate</a></button></th>
   <th> <button><a href="{% url 'delete' person.id %}">Delete</a></button></th>
  {% endfor %}
{% endblock %}
</tr>
</table>
</div>
</body>
</html>

